@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}


/* Nav Bar */

a {
  text-decoration: none;
}

.header {
  color: #576490;
  font-weight: 300;
  font-family: Roboto Slab;
  display: flex; 
  flex-wrap: wrap;
  background-color: #D1D2F9;
  border-bottom: 1px solid;
  border-image: linear-gradient(45deg, #C9CAD9, #D1D2F9, #A3BCF9, #7796CB, #576490 ) 1;
}

.headertext {
  font-weight: 300;
  margin: 2rem;
}

.navbar {
  display: flex;
  margin-left: auto;
}

.navlist {
  display: flex;
  list-style-type: none;
  text-align: right;
  flex-wrap: wrap;
  
}

.navlist li {
  display: flex;
  padding: 0.8rem;
  font-size: 1.2rem;

}

/* Projects */
.divprojtop {
  display: flex;
}
.projtop {
  border-bottom: 1px solid;
  border-image: linear-gradient(45deg, #576490, #D1D2F9, #A3BCF9, #576490 ) 1;
  padding-top: 2rem;
  margin-right: auto;
  margin-left: auto;
}
a img {
  margin-top: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width:70%;
  object-fit: cover;
  border: 1px solid #C9CAD9;
  border-radius: 20px;
}

.projhead {
  text-align: center;
  font-family: Roboto Slab;
}
.projdesc {
  text-align: center;
  font-family: Roboto Slab;
  font-weight: 300;
}
.projbuttondiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.projrepo {
  font-family: Roboto Slab;
  font-weight: 300;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  
}



/* BUTTON CODE */


button {
	width: 150px;
	height: 50px;
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #7f5a83;
	background-image: linear-gradient(315deg, #D1D2F9 0%, #0d324d 74%);
	background-size: 200% 100%;
	background-position: left;
	background-repeat: no-repeat;
	transition: 500ms;
}

button:before {
	content: 'Repository';
	color: rgba(255,255,255,0.5);
	font-size: 16px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 140px;
	height: 40px;
	background-color: #1b2845;
	background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
	transition: 500ms;
}

button:hover {
	background-position: right;
}

button:hover:before {
	color: rgba(255,255,255,0.8);
}

button:focus {
	outline: none;
}

/*Home Page*/

.aboutme {
  display: flex;
  padding: 15rem 0 6rem 0rem;
}
.aboutmeheader {
  color: #576490;
  border-bottom: 1px solid;
  border-image: linear-gradient(45deg, #576490, #D1D2F9, #A3BCF9, #576490 ) 1;
  margin-right: auto;
  margin-left: auto;
  font-weight: 300;
  font-family: Roboto Slab;
}

.aboutmedesc {
  font-weight: 400;
  font-family: Roboto Slab;
  color: #2E354D
}

.aboutmeimg {
  padding: 2rem;
  max-width: 100%;
  height: auto;
  display: flex;
  margin: 5rem auto 5rem auto;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto Slab;
  font-weight: 300;
  background-color: #D1D2F9;
  border-top: 1px solid;
  border-image: linear-gradient(-45deg, #C9CAD9, #D1D2F9, #A3BCF9, #7796CB, #576490 ) 1;
  background-image: linear-gradient(45deg, #576490, #D1D2F9, #A3BCF9, #7796CB, #576490 95%);
}

.footlist {
  display: flex;
  list-style-type: none;
}

.footlist li {
  display: flex;
  padding: 1rem;
}

/*Contact Me*/

.contactmediv {
  padding: 10px;
  display: flex;
  border: 1px solid;
  border-image: linear-gradient(-45deg, #C9CAD9, #D1D2F9, #A3BCF9, #7796CB, #576490 ) 1;
  background-image: linear-gradient(45deg, #A3BCF9, #D1D2F9, #D1D2F9, #A3BCF9 95%);
  margin: 3.5rem;
  flex-direction: column;
  
}
.contactmesec {
  height: 50px;
  width: 50px;
}

.contactspan {
  display: flex;
  font-family: Roboto Slab;
  flex-wrap: wrap;
  
}

.contactspan img {
  margin: 1rem;
}
.contactp {
  padding-top: 1.5rem;
}